.bg-final{
	background-color: rgb(240, 180, 64);
	color: white;
}
.text-white{
	color: white;
}
#nextPage{
	background-color: #F05F40;
}
#linkTo{
	padding-top: 2.5em;
	padding-bottom: 2.5em;
	}
.underline{
	font-style: underline;
}
.bg-highlight{
	background-color: white;
	color: black;
}
.dark{
	max-width: 500px;
	border: 1px solid #ccc;
}
.box{
	border: 2px solid black;
	padding: 1em;
	margin-top: -1em;
	margin-bottom: 2.65em;
}
.linkTo{
	padding-top: 60px;
	padding-bottom: 60px;
	background-color: rgba(232, 108, 25, .9);
	background-image:;
}
.linkTo a {
	background-color: white;
	font-size: 2em;
}

@media screen and (max-width: 767px) {
.fix {
    /*height:50%;
    padding-top:-100px;
    top:190px;*/
    height:350px !important;
}
}


.forcepadding {
    padding-top:0px;
}

.mine{
	border-radius: 0px;
	border: 1px solid black;
};


