.bg-final{
	background-color: rgb(240, 180, 64);
	color: white;
}
.text-white{
	color: white;
}

#nextPage{
	background-color: #F05F40;
}
#linkTo{
	padding-top: 2.5em;
	padding-bottom: 2.5em;
	}
.underline{
	font-style: underline;
}
.bg-highlight{
	background-color: white;
	color: black;
}
.dark{
	max-width: 500px;
	border: 1px solid #ccc;
}
.box{
	border: 2px solid black;
	padding: 1em;
	margin-top: -1em;
	margin-bottom: 2.65em;
}
