a:hover{
    text-decoration:none;
}
.bg-final{
	background-color: rgb(240, 180, 64);
	color: white;
}
.text-white{
	color: white;
}
#nextPage{
	background-color: #F05F40;
}
#linkTo{
	padding-top: 2.5em;
	padding-bottom: 2.5em;
	}
.underline{
	font-style: underline;
}
.bg-highlight{
	background-color: white;
	color: black;
}
.dark{
	max-width: 500px;
	border: 1px solid #ccc;
}
.box{
	border: 2px solid black;
	padding: 1em;
	margin-top: -1em;
	margin-bottom: 2.65em;
}
.linkTo{
	padding-top: 60px;
	padding-bottom: 60px;
	background-color: white;
	background-image:;
    z-index: 4;
}
.linkTo a {
	background-color: white;
	font-size: 2em;
}

@media screen and (max-width: 767px) {
.fix {
    /*height:50%;
    padding-top:-100px;
    top:190px;*/
    height:350px !important;
}
}


.forcepadding {
    padding-top:0px;
}

.mine{
	border-radius: 0px;
	border: solid 1px black;
};
.mine:hover{
	border-radius:0px;
	border: solid 1px black;
};

	border: 1px solid black;
}
/*for the gallery*/
.profile{
	display: block;
    position: relative;
    margin: 0 auto;
    max-width: 650px;
}
.round{
	border-radius: 100%;
}

.portfolio-box {
    display: block;
    position: relative;
    margin: 0 auto;
    max-width: 650px;
}
.profile img{
    margin: auto;
}
.profile .portfolio-box-caption {
    display: block;
    position: absolute;
    bottom: 0;
    width: 80%;
    height: 100%;
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
    color: #fff;
    opacity: 0;
    background: rgba(240,95,64,.9);
    -webkit-transition: all .45s;
    -moz-transition: all .45s;
    transition: all .45s;
}

.profile .portfolio-box-caption .portfolio-box-caption-content {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    transform: translateY(-50%);
}

.profile .portfolio-box-caption .portfolio-box-caption-content .project-category,
.profile .portfolio-box-caption .portfolio-box-caption-content .project-name {
    padding: 0 15px;
    font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
}
.profile .portfolio-box-caption .portfolio-box-caption-content .project-category {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
}

.profile .portfolio-box-caption .portfolio-box-caption-content .project-name {
    font-size: 18px;
}

.profile:hover .portfolio-box-caption {
    opacity: 1;
}

@media(min-width:768px) {
    .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category {
        font-size: 16px;
    }

    .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
        font-size: 22px;
    }
}
@media(max-width:768px){
	    .profile .img-responsive{
    	max-height: 200px;
    	margin-bottom: 25px;
    	margin-right: 50%;
    }
}
@media(max-width:992px){
	.profile .img-responsive{
		margin-bottom: 25px;
		max-height: 200px;
	}
}
.text-center h3{
    color: #f05f40;
}
.nametag:hover{
    text-decoration: none;
};